{% extends 'base.html' %}

{% block title %} Your Profile {% endblock %}

{% block content %}
{% include 'distributor/navbar.html' %}
<div class="container">
<table class="table table-hover m-4 p-4">
  <thead>
    <tr>
      <th scope="col" class="text-center" colspan="2">Your Details</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-active">
      <th scope="row">Store Name: </th>
      <td class="text-capitalize">{{details.distributor_name}} <a href="{% url 'edit_profile' %}" title="Edit Your Profile" style="margin-left: 15px;"> <i class="fas fa-edit"></i></a></td>
    </tr>
    <tr>
      <th scope="row">Destributor Email Address: </th>
      <td>{{details.user.email}} <a href="{% url 'edit_profile' %}" title="Edit Your Profile" style="margin-left: 15px;"> <i class="fas fa-edit"></i></a></td>
    </tr>
    <tr class="table-active">
      <th scope="row">Destributor Address: </th>
      <td class="text-capitalize">{{details.address}}, {{details.city}} {{details.zip_code}}, {{details.state}}, {{details.country}}
        <a href="{% url 'edit_profile' %}" title="Edit Your Profile" style="margin-left: 15px;"> <i class="fas fa-edit"></i></a>
      </td>
    </tr>
    <tr>
      <th scope="row">Destributor Phone: </th>
      <td>{{details.mobile_phone}} <a href="{% url 'edit_profile' %}" title="Edit Your Profile" style="margin-left: 15px;"> <i class="fas fa-edit"></i></a></td>
    </tr>
    <tr class="table-active">
      <th scope="row">Destributor Website: </th>
      <td class="text-capitalize"><a class="text-white-50" href="{{details.website}}"> {{details.website}}</a></a> 
        <a href="{% url 'edit_profile' %}" title="Edit Your Profile" style="margin-left: 15px;"> <i class="fas fa-edit"></i></a>
      </td>
    </tr>
    <tr>
      <th scope="row">Additional Information: </th>
      <td>{{details.additional_information}} <a href="{% url 'edit_profile' %}" title="Edit Your Profile" style="margin-left: 15px;"> <i class="fas fa-edit"></i></a></td>
    </tr>
  </tbody>
</table>
</div>

{% endblock %}