{% extends "base.html" %}

{% load static %}
{% block title %}Password | Reset{% endblock %}

{% block extra_css %}
{% endblock %}

{% block content %}
<div class="card border-primary" style="width: 50rem; margin-left: 350px; margin-top: 100px;">
    <div class="card-header"><h1>Password Reset</h1></div>
    <div class="card-title">Enter your email address below, and we'll email instructions for setting a new one. </div>
    <form method="POST" action="."> {% csrf_token %}
        <div class="container">
            <div class="form-group">
                {{form.as_p}}
            </div>
        </div>
    

            
        <div class="card-footer">
            <input type="submit" class="btn btn-primary" style="width: 40rem; margin-left: 50px !important;" value="Login">
        </div> 
    </form>   
</div>
{% endblock %}

{% block extra_js %}
    
{% endblock %}


